/*Media Queries===
=================================*/
/*Page Styles
====================*/
* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #dbdbdb;
  font: 0.8em "Merriweather", Helvetica, sans-serif; }

.main-wrapper {
  width: 100%;
  margin: auto; }

h1 {
  color: white;
  font: 100 2.5em/1.6em "Josefin Slab", Times, serif;
  line-height: 1em;
  max-width: 400px;
  padding-left: 20px;
  /*Extra Small Devices, Phones */ }
  @media (min-width: 900px) {
    h1 {
      padding: 1em;
      padding-bottom: 20px; } }

.logo-wrapper p {
  color: rgba(194, 224, 255, 0.6);
  float: left;
  font: 1em/0.7em bold "Raleway Dots" sans-serif;
  position: absolute;
  right: 250px;
  top: -10px;
  visibility: hidden;
  /*Extra Small Devices, Phones */ }
  @media (min-width: 900px) {
    .logo-wrapper p {
      height: 100%;
      visibility: visible; } }
  .logo-wrapper p span {
    color: #c2e0ff;
    font: 2em/1.5em 'Raleway Dots' sans-serif; }

h2 {
  color: #c2e0ff;
  font: 200 1.7em/1em "Josefin Slab", Times, serif;
  padding-top: 40px;
  text-align: center; }
  h2 span {
    font: normal 200 2em/1.4em "Josefin Slab", Times, serif; }

p {
  font: 500 2.5em "Josefin Slab", Times, serif;
  margin-bottom: 5px;
  margin-top: 20px;
  padding-left: 3%;
  text-align: left; }

.label-one p {
  color: rgba(47, 69, 80, 0.8); }

.label-two p {
  color: rgba(95, 70, 75, 0.8); }

.cmn-toggle-round-flat {
  font: 1.8em/1em "Josefin Slab", Times, serif; }

.col {
  height: 100%; }

section {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px black;
  color: white; }

.main-header {
  margin-bottom: 0;
  max-width: 100%; }

.logo-wrapper {
  background-color: #1c0f13;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  /*Extra Small Devices, Phones */ }
  @media (min-width: 900px) {
    .logo-wrapper {
      background: url(../img/door_bg.jpg) center;
      background-size: 40%; } }

.main-splash {
  padding-bottom: 20%;
  background: url(../img/door_bg.jpg) no-repeat center;
  background-size: cover;
  /*Extra Small Devices, Phones */
  /*Extra Small Devices, Phones */ }
  @media (min-width: 650px) {
    .main-splash {
      height: 300px; } }
  @media (min-width: 900px) {
    .main-splash {
      display: none;
      height: auto; } }
  .main-splash h2 {
    margin-top: 0; }

.carouselOuterWrapper {
  position: relative;
  padding-right: 40px;
  padding-left: 40px;
  overflow: hidden;
  padding-top: 15px; }

.carouselInnerWrapper {
  position: relative;
  max-height: 500px; }

.main-wrapper:after, .carouselInnerWrapper:after {
  content: "";
  display: block;
  clear: both; }

/*Slick BUTTON OVERRIDES 
========================== */
/* Dots */
#carousel-one .slick-dots li.slick-active button:before {
  color: rgba(58, 64, 90, 0.75); }

#carousel-one .slick-dots li button:before {
  color: rgba(58, 64, 90, 0.5); }

#carousel-two .slick-dots li.slick-active button:before {
  color: rgba(95, 70, 75, 0.75); }

#carousel-two .slick-dots li button:before {
  color: rgba(95, 70, 75, 0.5); }

/* Arrows */
#carousel-one .slick-prev:before,
#carousel-one .slick-next:before {
  color: rgba(58, 64, 90, 0.75); }
  #carousel-one .slick-prev:before:hover, #carousel-one .slick-prev:before:focus,
  #carousel-one .slick-next:before:hover,
  #carousel-one .slick-next:before:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    #carousel-one .slick-prev:before:hover:before, #carousel-one .slick-prev:before:focus:before,
    #carousel-one .slick-next:before:hover:before,
    #carousel-one .slick-next:before:focus:before {
      opacity: 1; }
  #carousel-one .slick-prev:before.slick-disabled:before,
  #carousel-one .slick-next:before.slick-disabled:before {
    opacity: 0.25; }

#carousel-two .slick-prev:before,
#carousel-two .slick-next:before {
  color: rgba(95, 70, 75, 0.75);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  #carousel-two .slick-prev:before:hover, #carousel-two .slick-prev:before:focus,
  #carousel-two .slick-next:before:hover,
  #carousel-two .slick-next:before:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    #carousel-two .slick-prev:before:hover:before, #carousel-two .slick-prev:before:focus:before,
    #carousel-two .slick-next:before:hover:before,
    #carousel-two .slick-next:before:focus:before {
      color: #5f464b; }
  #carousel-two .slick-prev:before.slick-disabled:before,
  #carousel-two .slick-next:before.slick-disabled:before {
    color: rgba(95, 70, 75, 0.25); }

/*Card Class .hiddenCard
====================*/
/*Card Class .shownCard
====================*/
/* Card Layout (Image and Captions)

================================ */
.cardWrapper {
  display: inline-block;
  text-decoration: none;
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-right: 10px;
  width: 250px;
  height: auto;
  /*Extra Small Devices, Phones */ }
  @media (min-width: 650px) {
    .cardWrapper {
      width: 100%; } }

a.card img {
  width: 250px;
  height: auto;
  position: relative;
  border: none; }

/*--}
	
	@include breakpoint (sm) {
		height: 200px;
		width: auto;
	}
	@include breakpoint (md) {
		height: 300px;
		width: auto;
	}
	
	@include breakpoint (lg) {
		height: 400px;
		width: auto;
--*/
/*---.accordianText {
	position: relative;
	background: rgba(47,69,80,1);
	color: white;
	font: 2em $stack-slab;
	width: 100%;
}--*/
#carousel-one .cardText {
  position: absolute;
  background-color: rgba(47, 69, 80, 0.8);
  margin: auto;
  color: white;
  height: 90%;
  font: 600 1.7em/1.5em "Josefin Slab", Times, serif;
  width: 250px;
  padding: 1em; }

#carousel-two .cardText {
  position: absolute;
  background-color: rgba(95, 70, 75, 0.7);
  margin: auto;
  color: white;
  height: 90%;
  font: 100 1em/1.5em "Josefin Slab", Times, serif;
  width: 250px; }

.text-mode .cardText {
  transform: translateY(-100%);
  transition-duration: 1s; }

.image-mode .cardText {
  transform: translateY(0%);
  transition-duration: 1.7s; }

/*Inputs
=====================*/
.toggler {
  position: absolute;
  top: 30px;
  right: 8%;
  visibility: hidden;
  /*Extra Small Devices, Phones */ }
  @media (min-width: 650px) {
    .toggler {
      visibility: visible; } }

.cmn-toggle {
  position: absolute;
  top: -10px;
  right: 10px;
  visibility: hidden; }

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none; }

/*Need to revisit below to customize*/
input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 100px;
  height: 42px;
  background-color: #darkblue;
  border-radius: 30px;
  transition: background 0.6s;
  z-index: 5; }

input.cmn-toggle-round-flat + label:before {
  display: block;
  position: absolute;
  content: ""; }

input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: ""; }

.toggler .off {
  font-size: 1.25em;
  position: absolute;
  top: 0.25em;
  left: 0.25em; }

.toggler .on {
  font-size: 1.25em;
  position: absolute;
  top: 0.25em;
  right: 0.25em; }

input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #afb2bc;
  border-radius: 50px;
  transition: background 0.6s;
  z-index: 0; }

input.cmn-toggle-round-flat + label:after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 40px;
  background-color: #2f4550;
  border-radius: 30px;
  transition: margin 0.6s, background 0.6s; }

input.cmn-toggle-round-flat:checked + label {
  background-color: yellow; }

input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 60px;
  background-color: blue; }

/*# sourceMappingURL=application.css.map */
