/*Page Styles
====================*/
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #666699;
	font-family: Lato, sans-serif, Helvetica;
	font-size: .8em/1.2em;
}

.main-wrapper{
	width: 90%;
	margin: auto;
}

/* Layout Element Colors
================================ */

.main-header {background-color: black;}
.main-logo {background-color: black;}
.main-nav li {background-color: tomato;}
aside {background-color: lightblue;}
section {background-color: grey; color: white;}


/* Header, Logo, Nav Layout 
================================ */
.main-header {
	padding: 20px;
	width: 100%;
	min-height: 120px;
	display: table;
}

.main-logo,
.main-nav,
.main-nav li {
	display: inline-block;
}

.main-logo,
.main-nav {
	display: table-cell;
	vertical-align: middle;
}



.main-logo {
	display: block;
	text-align: left;
	padding-right: 20px;

}


.main-nav {
	padding-left: 50px;
}


.main-logo,
.main-nav li {
	border-radius: 5px;
}

.main-nav li {
	margin-right: -5px;
}


.main-nav a {
	text-decoration: none;
	color: black;
	display: block;
	text-align: center;
	padding: 10px 20px;
}



/* Card Layout + Transform
================================ */
a.card {
	border: 1px black;
	display: block;
	text-decoration: none;
	width: 250px;
	position: relative;
}

a.card img {
	display: block;
	width: 100%;
	height: auto;
}

a {


}

.text {
	position: absolute;
	top: 100%;
	transition: all .5s;
}

.text-mode .text {
  transform: translateY(-100%);
}
.image-mode .text {
  transform: translateY(0%);
}

/* Column Layout 
================================ */

.col {
	height: 100%;
}

.col-left {
	width: 240px;
	float:left;
	border: 1px solid gray;
	padding: 0px 30px;
}

.col-right {
	width: calc(90% - 240px);
	float: right;
	margin: 0px;
}

/* Carosel Layout 
========================== */


/*Text Formatting
=====================*/
h1 {
	font-size: 1.5em;
	color: white;
	padding-left: 20px;
	line-height: 1.6em;
	font-weight: thin;
}
h1 span {
	font-size: 1.2em;
	line-height: 2em;
	color: white;
}

h2 {
	font-size: 1.2em;
	color: darkblue;

}

/*Inputs
=====================*/
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

/*Need to revisit below to customize*/
input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 100px;
  height: 42px;
  background-color: #darkblue;
  border-radius: 30px;
  transition: background 0.6s;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.6s;
}
input.cmn-toggle-round-flat + label:after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 35px;
  background-color: #dddddd;
  border-radius: 30px;
  transition: margin 0.6s, background 0.6s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #yellow;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 60px;
  background-color: #blue;
}

/*Clearfix
====================*/
.clearfix:after {
 content: "";
 display: block;
 clear: both;
}


/* Media Queries
================================ 

