/*Page Styles
====================*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #D2DAE3;
	font-family: Lato, sans-serif, Helvetica;
	font-size: .8em;
}

.main-wrapper{
	width: 100%;
	margin: auto;
}

/* Layout Element Colors
================================ */

.main-header {background-color: black;}
.main-logo {background-color: black;}
.main-nav li {background-color: inherit;}
aside {background-color: lightblue;}
section {border: 2px black;
 color: white;}


/* Header, Logo, Nav Layout 
================================ */
.main-header {
	padding: 20px;
	width: 100%;
	min-height: 120px;
	display: table;
}

.main-logo,
.main-nav,
.main-nav li {
	display: inline-block;
}

.main-logo,
.main-nav {
	display: table-cell;
	vertical-align: middle;
}



.main-logo {
	display: block;
	text-align: left;
	padding-right: 20px;

}


.main-nav {
	padding-left: 50px;
}


.main-logo,
.main-nav li {
	border-radius: 5px;
}

.main-nav li {
	margin-right: -5px;
}


.main-nav a {
	text-decoration: none;
	color: black;
	display: block;
	text-align: center;
	padding: 10px 20px;
}




/* Column Layout 
================================ */

.col {
	height: 100%;
}

.col-left {
	width: 240px;
	float:left;
	
	border: 1px solid gray;
	padding: 0px 30px;
}

/*Container for ALL Carousels
====================*/
.col-right {
	width: calc(100% - 240px);
	float: left;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	/*
	display: flex;
	flex-direction: column; */
}

/*Horizontal Wrapper for EACH Carousel
========================== */
.carouselButton {
	font-size: 80px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;
}

.carouselButton i {
	background-color: rgba(0,0,0,.5);
	color: orange;
	padding: 10px;

}

.carouselButton i:hover {
	background-color: rgba(0,0,0,.75);
}

.carouselButton i:hover {
	background-color: rgba(0,0,0,.75);
	cursor: pointer;
}

.left-button {
	left: 0;

}

.right-button {
	right: 0;

}

.carouselOuterWrapper {
	position: relative;
	overflow: hidden;

}

.carouselInnerWrapper {
	position: relative;
	max-height: 500px;
	margin: 0;
	min-width: 200%;
	overflow: hidden;
}

/* Card Layout (Image and Captions)
================================ */
a.card {
	border: 1px black;
	display: inline-block;
	text-decoration: none;
	height: 100%;
	position: relative;
	
	float: left;
	margin-left: 10px;
}

a.card img {
	display: inline-block;
	width: auto;
	max-height: 500px;
}


a {


}

.cardText {
	position: absolute;
	background-color: white;
	top: 100%;
	transition: all .5s;
	color: blue;
}

.text-mode .cardText {
  transform: translateY(-100%);
}
.image-mode .cardText {
  transform: translateY(0%);
}


/*Card Class .hiddenCard
====================*/

/*Card Class .shownCard
====================*/


/*Text Formatting
=====================*/
h1 {
	font-size: 1.5em;
	color: white;
	padding-left: 20px;
	line-height: 1.6em;
	font-weight: thin;
}
h1 span {
	font-size: 1.2em;
	line-height: 2em;
	color: white;
}

h2 {
	font-size: 1.2em;
	color: darkblue;

}

/*Inputs
=====================*/
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

/*Need to revisit below to customize*/
input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 100px;
  height: 42px;
  background-color: #darkblue;
  border-radius: 30px;
  transition: background 0.6s;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.6s;
}
input.cmn-toggle-round-flat + label:after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 35px;
  background-color: #dddddd;
  border-radius: 30px;
  transition: margin 0.6s, background 0.6s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #yellow;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 60px;
  background-color: #blue;
}



/*Clearfix
====================*/
.clearfix:after {
 content: "";
 display: block;
 clear: both;
}


/* Media Queries
================================ 

/*Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}


/*Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/*Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/*Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}
