




//================================
// Carousel Wrappers
//================================

.carouselOuterWrapper {
	overflow:hidden;
	position: relative;
	padding-top:15px;
	padding-right: 40px;
	padding-left: 40px;
	}

.carouselInnerWrapper {
	@extend %clearfix;
	}

.carouselOuterWrapper:last-child {
	padding-bottom: 50px;
}


