.col {
	height: 100%;
	}

section {
	border: 2px black;
	color: white;
	display: flex;
	flex-direction: column; 
	height: 100%;
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 90%;
	}