.col {
	height: 100%;
}



section {
	width: 90%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column; 
	border: 2px black;
 	color: white;
}