
.main-header {
	width: 100%;
	display: table;
	background: url(../img/door_bg.jpg) no-repeat center;
	background-size: cover;

}

.main-logo {
	background-color: $gondola;
	text-align: left;
	margin: auto;
	padding: 1em;
}

.main-splash {
	padding-bottom: 25%;
	padding-top: 18%;
}


