
.main-header {
	width: 100%;
	height: 600px;
	display: table;
	background: url(../img/door_bg.jpg) no-repeat center;
	background-size: cover;
}

.main-logo {
	display: block;
	background-color: $gondola;
	text-align: left;
	margin: auto;
	padding: 1em;

	
	
}

.main-splash {
	padding-top: 30%;


}


