/*Button for each carousel
========================== */

.carouselButton {
	font-size: 80px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;
	& i {
		background-color: rgba(0,0,0,.5);
		color: orange;
		padding: 10px;
		&:hover {
			background-color: rgba(0,0,0,.75);
			cursor: pointer;
			}
		}
}

.left-button {
	left: 0;
}


.right-button {
	right: 0;
}