
/*Slick BUTTON OVERRIDES 
========================== */

/* Dots */

#carousel-one .slick-dots li.slick-active button:before
{
    color: rgba(58,64,90,.75);
}

#carousel-one .slick-dots li button:before
{
    color: rgba(58,64,90,.25);
}

#carousel-two .slick-dots li.slick-active button:before
{
    color: rgba(95,70,75,.75);
}

#carousel-two .slick-dots li button:before
{
    color: rgba(95,70,75,.25);
}

/* Arrows */
#carousel-one .slick-prev:before,
#carousel-one .slick-next:before
{
    color: rgba(58,64,90,.75);

    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: 1;
        }
    }
    &.slick-disabled:before {
        opacity: 0.25;
    }
}

#carousel-two .slick-prev:before,
#carousel-two .slick-next:before
{
    color: rgba(95,70,75,0.75);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            color: rgba(95,70,75,1);
        }
    }
    &.slick-disabled:before {
        	color: rgba(95,70,75,0.25);
    }
}