//================================
// Slick BUTTON OVERRIDES 
//================================

/* Dots 
========================== */
#carousel-one .slick-dots li.slick-active button:before {
    color: rgba($bluewood,.75);
    }
#carousel-one .slick-dots li button:before {
    color: rgba($bluewood,.6);
    }
#carousel-two .slick-dots li.slick-active button:before {
    color: rgba($buckley,.75);
    }
#carousel-two .slick-dots li button:before {
    color: rgba($buckley,.5);
    }
#carousel-three .slick-dots li.slick-active button:before {
    color: rgba($oxford-blue,.75);
    }
#carousel-three .slick-dots li button:before {
    color: rgba($oxford-blue,.5);
    }
#carousel-four .slick-dots li.slick-active button:before {
    color: rgba($port,.75);
    }
#carousel-four .slick-dots li button:before {
    color: rgba($port,.5);
    }
#carousel-five .slick-dots li.slick-active button:before {
    color: rgba($copper,.75);
    }
#carousel-five .slick-dots li button:before {
    color: rgba($copper,.5);
    }

/* Arrows 
========================== */
#carousel-one .slick-prev:before,
#carousel-one .slick-next:before {
    color: rgba(58,64,90,.75);
    &:hover, &:focus {
        background: transparent;
        color: transparent;
        outline: none;
        &:before {
            opacity: 1;
            }
        }
    &.slick-disabled:before {
        opacity: 0.25;
        }
    }

#carousel-two .slick-prev:before,
#carousel-two .slick-next:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba($buckley,0.75);
    &:hover, &:focus {
        background: transparent;
        color: transparent;
        outline: none;
        &:before {
            color: $buckley;
            }
        }
    &.slick-disabled:before {
        color: rgba($buckley,0.25);
        }
    }

#carousel-three .slick-prev:before,
#carousel-three .slick-next:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba($oxford-blue,0.75);
    &:hover, &:focus {
        background: transparent;
        color: transparent;
        outline: none;
        &:before {
            color: $oxford-blue;
            }
        }
    &.slick-disabled:before {
        color: rgba($oxford-blue,0.25);
        }
    }

#carousel-four .slick-prev:before,
#carousel-four .slick-next:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba($port,0.75);
    &:hover, &:focus {
        background: transparent;
        color: transparent;
        outline: none;
        &:before {
            color: $port;
            }
        }
    &.slick-disabled:before {
        color: rgba($port, .25);
        }
    }

#carousel-five .slick-prev:before,
#carousel-five .slick-next:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba($copper, .75);
    &:hover, &:focus {
        background: transparent;
        color: transparent;
        outline: none;
        &:before {
            color: $copper;
            }
        }
    &.slick-disabled:before {
        color: rgba($copper, .25);
        }
    }