/*Card Class .hiddenCard
====================*/

/*Card Class .shownCard
====================*/

/* Card Layout (Image and Captions)

================================ */


.cardWrapper {
	display: inline-block;
	text-decoration: none;
	position: relative;
	text-align: center;
	overflow: hidden;
	margin-right: 10px;
	width: 250px;
	height: auto;
	
	@include breakpoint (sm) {
		width: 100%;
		
	}

}

a.card img {
	//display: inline-block;
	width:250px;
	height: auto;
	position: relative;
	border: none;
}
/*--}
	
	@include breakpoint (sm) {
		height: 200px;
		width: auto;
	}
	@include breakpoint (md) {
		height: 300px;
		width: auto;
	}
	
	@include breakpoint (lg) {
		height: 400px;
		width: auto;
--*/





/*---.accordianText {
	position: relative;
	background: rgba(47,69,80,1);
	color: white;
	font: 2em $stack-slab;
	width: 100%;
}--*/


#carousel-one .cardText {
	position: absolute;
	background-color: rgba(47,69,80,.8);
	margin: auto;
	color: white;
	height: 90%;
	font: 600 1.7em/1.5em $stack-slab;
	width: 250px;
	padding: 1em;



}

#carousel-two .cardText {
	position: absolute;
	background-color: rgba(95,70,75,.7);
	margin: auto;
	color: white;
	height: 90%;
	font: 100 1em/1.5em $stack-slab;
	width: 250px;

}
.text-mode .cardText {
  transform: translateY(-100%);
  transition-duration: 1s;
}
.image-mode .cardText {
  transform: translateY(0%);
  transition-duration: 1.7s;
}