/* Card Layout (Image and Captions) ================================ */

.cardWrapper {
	display: inline-block;
	border-display: none;
	border-radius: 0;
	height: auto;
	outline: 0;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 300px;
	@include breakpoint (xs) {
		display: block;
		height: auto;
		margin-right: 10px;
		width: 150px;
		overflow: visible;
		}
	}

a.card img {
	border-display: none;
	border-radius: 0;
	height: auto;
	outline: 0;
	position: relative;
	width: 300px;
@include breakpoint (xs) {
		width: 150px;
		}
	}
.cardText {
	height: 90%;
	margin: auto;
	padding: 1em;
	position: absolute;
	width: 300px;
	@include breakpoint (xs) {
		width: 150px;
		}
	}

.text-mode .cardText {
  transform: translateY(-100%);
  transition-duration: 1s;
	}

.image-mode .cardText {
  transform: translateY(0%);
  transition-duration: 1.7s;
	}


.col {
	animation: fadeIn 1s .2s forwards;
	opacity: 0;
}

@keyframes fadeIn{
	0% {
		opacity: 0;
		transform: translateY(20%);
	}
	100% {
		opacity: 1;
	}
}