/* Card Layout (Image and Captions)

================================ */
.cardWrapper {
	display: inline-block;
	border-display: none;
	border-radius: 0;
	height: auto;
	margin-right: 10px;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 250px;
	@include breakpoint (sm) {
		width: 100%;	
		}
	}

a.card img {
	border-display: none;
	border-radius: 0;
	height: auto;
	position: relative;
	width:250px;
	}

/*---.accordianText {
	position: relative;
	background: rgba(47,69,80,1);
	color: white;
	font: 2em $stack-slab;
	width: 100%;
}--*/

#carousel-one .cardText {
	margin: auto;
	height: 90%;
	padding: 1em;
	position: absolute;
	width: 250px;
	}

#carousel-two .cardText {
	margin: auto;
	height: 90%;
	padding: 1em;
	position: absolute;
	width: 250px;
	}

.text-mode .cardText {
  transform: translateY(-100%);
  transition-duration: 1s;
	}

.image-mode .cardText {
  transform: translateY(0%);
  transition-duration: 1.7s;
	}