




//================================
// Lightbox Modal
//================================

#overlay {
	background: rgba(0,0,0,.85);
	display:none;
	height: 100%;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 998;
	}

#overlay img {
	height: 80%;
	margin-top: 5%;
	z-index: 999;
	}