/*Inputs
=====================*/
.toggler {
  position: absolute;
  right: 8%;
  top: 30px;
  visibility: hidden;
  @include breakpoint (sm){
    visibility: visible;
    }
  }

.cmn-toggle {
  position: absolute;
  right: 10px;
  top: -10px;
  visibility: hidden;
  }

.cmn-toggle + label {
  cursor: pointer;
  display: block;
  outline: none;
  position: relative;
  user-select: none;
  }

input.cmn-toggle-round-flat + label {
  background-color: #darkblue;
  border-radius: 30px;
  height: 42px;
  padding: 2px;
  transition: background 0.6s;
  width: 100px;
  z-index: 5;
  }

input.cmn-toggle-round-flat + label:before{
  display: block;
  content: "";
  position: absolute;
  }

input.cmn-toggle-round-flat + label:after {
  display: block;
  content: "";
  position: absolute;
  }

.toggler .off{
  font-size: 1.25em;
  left: 0.25em;
  position: absolute;
  top: 0.25em;
  }

.toggler .on{
  font-size: 1.25em;
  left: 0.25em;
  position: absolute;
  top: 0.25em;
  }

input.cmn-toggle-round-flat + label:before {
  background-color: rgba(175, 178, 188,1);
  border-radius: 50px;
  bottom: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  top: 2px;
  transition: background 0.6s;
  z-index: 0;
  }

input.cmn-toggle-round-flat + label:after {
  background-color: rgba(47,69,80,1);
  border-radius: 30px;
  bottom: 2px;
  left: 2px;

  top: 2px;
  transition: margin 0.6s, background 0.6s;
  width: 40px;
  }

input.cmn-toggle-round-flat:checked + label {
  background-color: yellow;
  }

input.cmn-toggle-round-flat:checked + label:after {
  background-color: blue;
  margin-left: 60px;
  }
