/*Page Styles
====================*/
* {
	box-sizing: border-box;
}


body {
	margin: 0;
	background-color: $alto;
	font: .8em $stack-mer;
}


.main-wrapper{
	@extend %clearfix;
	width: 100%;
	margin: auto;
}












