h1 {
	color: white;
	font: 100 2.75em/1.6em $stack-slab;
	line-height: 1em;
	margin-top: 16px;
	max-width: 450px;
	padding-left: 20px;
	@include breakpoint (md) {
		padding: 1em;
		margin-top: 8px;
		}
	}

.logo-wrapper p {
	padding-left:1em;
	color: white;
	font: 1em/.7em bold $stack-rway;
	& span {
		color: rgba(194, 224, 255, 1);
		font: 2em/1.5em $stack-rway;
		}
	}

h2 {
	color: rgb(194, 224, 255);
	font: 200 1.7em/1em $stack-slab;
	padding-top:40px;
	text-align: center;
	& span {
		font: normal 200 2em/1.4em $stack-slab;
		}
	}

p {
	font: 500 2.5em $stack-slab;
	margin-bottom: 5px;
	margin-top: 20px;
	padding-left: 3%;
	text-align: left;
	}

.label-one p{
	color: rgba(47,69,80,.8);
	font: 600 2em $stack-slab;
	} 

.label-two p{
	color: rgba(95,70,75,.8);
	font: 600 2em $stack-slab;
	} 

.label-three p{
	color: rgba(58,64,90,.8);
	font: 600 2em $stack-slab;
	} 

.cmn-toggle-round-flat {
	font: 1.8em/1em $stack-slab;
	}

#carousel-one .cardText {
	color: white;
	font: 100 2em $stack-slab;
	background-color: rgba(47,69,80,.85);
	@include breakpoint (xs) {
		font: 100 1em/1.1em $stack-slab;
		}
	}

#carousel-two .cardText {
	background-color: rgba(95,70,75,.8);
	color: white;
	font: 100 2em $stack-slab;
	@include breakpoint (xs) {
		font: 100 1em/1.1em $stack-slab;
		}
	}

#carousel-three .cardText {
	background-color: rgba(58,64,90,.8);
	color: white;
	font: 100 2em $stack-slab;
	@include breakpoint (xs) {
		font: 100 1em/1.1em $stack-slab;
		}
	}

#carousel-four .cardText {
	background-color: rgba(109, 33, 60,.8);
	color: white;
	font: 100 2em $stack-slab;
	@include breakpoint (xs) {
		font: 100 1em/1.1em $stack-slab;
		}
	}

#carousel-five .cardText {
	background-color: rgba(142, 65, 21,.8);
	color: white;
	font: 100 2em $stack-slab;
	@include breakpoint (xs) {
		font: 100 1em/1.1em $stack-slab;
		}
	}