h1 {
	font: 100 2em/1.6em $stack-slab;
	color: white;
	padding-left: 20px;
	line-height: 1.6em;

}

h2 {
	text-align: center;
	color: rgb(194, 224, 255);
	font: 1.5em/1em $stack-slab;
	
	& span {
		font: normal 1.5em/1.6em $stack-slab;
		
	
	}
}



