// Descriptive color variables
$alto		: rgba(219,219,219,1);
$bluewood	: rgba(47,69,80,1);
$buckley	: rgba(95,70,75,1);
$copper		: rgba(142, 65, 21, 1);
$gondola	: rgba(28,15,19,1);
$oxford-blue: rgba(58,64,90,1);
$port		: rgba(109, 33, 60, 1);


//Font stacks
$stack-slab : 'Josefin Slab', Times, serif;
$stack-rway : 'Raleway Dots', Times, serif;

