// Descriptive color variables
$gondola	: rgba(28,15,19,1);
$alto		: rgba(219,219,219,1);
$bluewood	: rgba(47,69,80,1);
$buckley	: rgba(95,70,75,1);
$oxford-blue: rgba(58,64,90,1);



//Font stacks
$stack-slab : 'Josefin Slab', Times, serif;
$stack-mer: 'Merriweather', Helvetica, sans-serif;

